language: python

notifications:
    email: false

python:
    - "2.7"
    - "3.5"
    - "3.6"

before_install:
    - pip install python-coveralls
    - pip install pytest-faulthandler<2.0.0
    - pip install pytest-cov
#    - pip install numpydoc

install:
    - pip install tensorflow pytest
    - pip install -e .[tests]

#before_script:
#    - pep8 tests

script:
#    - nosetests -v --with-coverage --cover-package=mir_eval
#    - python setup.py build_sphinx
#    - python setup.py egg_info -b.dev sdist --formats gztar
     - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
     - py.test
     - kill %1

after_success:
    - coveralls